<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="algoliasearch_performance_settings" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Performance Settings</label>
            <tab>algolia</tab>
            <resource>Algolia_AlgoliaSearch::algolia_algoliasearch</resource>
            <group id="performance_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="min_characters" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum amount of characters</label>
                    <comment>
                        <![CDATA[
                            The minimum amount of characters before the autocomplete search will start
                        ]]>
                    </comment>
                </field>
                <field id="debounce" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debounce (ms)</label>
                    <comment>
                        <![CDATA[
                            If you want to use a debounce in the autocomplete box, fill in the number of ms here
                        ]]>
                    </comment>
                </field>
            </group>
        </section>

    </system>
</config>
