<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="algolia" translate="label" sortOrder="100001">
            <label>
                <![CDATA[
                    Algolia Search
                ]]>
            </label>
        </tab>
        <section id="algoliasearch_credentials" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Credentials and Basic Setup</label>
            <tab>algolia</tab>
            <resource>Algolia_AlgoliaSearch::algolia_algoliasearch</resource>
            <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials and Setup</label>
                <comment>
                    <![CDATA[
                        <div class="algolia-admin-content"></div>
                     ]]>
                </comment>
                <field id="application_id" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Application ID</label>
                    <comment>
                        <![CDATA[
                            You can find your Application ID and API keys in the <a href="https://www.algolia.com/api-keys" target="_blank">Algolia dashboard</a>.
                        ]]>
                    </comment>
                </field>
                <field id="search_only_api_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search-only (public) API key</label>
                    <comment>
                        <![CDATA[
                            You can find your Application ID and API keys in the <a href="https://www.algolia.com/api-keys" target="_blank">Algolia dashboard</a>.
                        ]]>
                    </comment>
                </field>
                <field id="api_key" translate="label comment" type="password" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin API key</label>
                    <comment>
                        <![CDATA[
                            You can find your Application ID and API keys in the <a href="https://www.algolia.com/api-keys" target="_blank">Algolia dashboard</a>.
                        ]]>
                    </comment>
                </field>
                <field id="index_prefix" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Index Name Prefix</label>
                    <comment>
                        <![CDATA[
                            Specify different index prefixes for each environment (eg. local, staging, production). It will prevent your data from being overridden.
                        ]]>
                    </comment>
                </field>
                <field id="enable_backend" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Indexing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Do you want the Algolia extension to push your data to Algolia?<br>
                            The benefit here is that Algolia will manage to keep your data up to date.
                            If you choose "No", you will need to push and manage your data in a different way.
                        ]]>
                    </comment>
                </field>
                <field id="enable_frontend" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Do you want to use Algolia for search?<br>
                            If not, Magento will perform all searches and not touch Algolia at all.
                        ]]>
                    </comment>
                </field>
                <field id="debug" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                           Logging generates a significant amount of data and can affect performance of the extension. Use it only for debugging.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
        <section id="algoliasearch_performance_settings" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Performance Settings</label>
            <tab>algolia</tab>
            <resource>Algolia_AlgoliaSearch::algolia_algoliasearch</resource>
            <group id="performance_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="min_characters" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum amount of characters</label>
                    <comment>
                        <![CDATA[
                            The minimum amount of characters before the autocomplete search will start
                        ]]>
                    </comment>
                </field>
                <field id="debounce" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debounce (ms)</label>
                    <comment>
                        <![CDATA[
                            If you want to use a debounce in the autocomplete box, fill in the number of ms here
                        ]]>
                    </comment>
                </field>
            </group>
        </section>

    </system>
</config>
